<p>Hello Eventible Admin</p>
<p>Here are the following details of the speaker:</p>
<p>
  <strong>User Name:</strong> <%= @user.name %> <br>
  <strong>User Email:</strong> <%= @user.email %> <br>
  <strong>Company Name:</strong> <%= @user.company_name %> <br>
  <strong>Job title:</strong> <%= @user.designation %> <br>
  <strong>Trigger Type:</strong> <%= @trigger_name %>
</p>

<p>Best,<br>
<p>Jennifer Rickman<br>
Director – Customer Success<br>
Eventible.com</p>
