<style>
  #request {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #request td, #request th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #request tr:nth-child(even){background-color: #f2f2f2;}

  #request tr:hover {background-color: #ddd;}

  #request th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
</style>
<h4>Hi,</h4>
<p> <%= @user.name %> from <%=@user.company_name %> has requested access to the The Gazebo Speaker Directory.</p>
<p>The details submitted by the user are as follows:</p>
<table id="request">
  <tr>
    <td><b>Name</b></td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td><b>Email</b></td>
    <td><%= @user.email%></td>
  </tr>
  <tr>
    <td><b>Job Title</b></td>
    <td><%= @user.designation %></td>
  </tr>
  <tr>
    <td><b>Company Name</b></td>
    <td><%= @user.company_name %></td>
  </tr>
  <tr>
    <td><b>Role</b></td>
    <td><%= @user_role %></td>
  </tr>
  <tr>
    <td><b>Sign up Source </b></td>
    <td><%= @user.signup_source == "speakers" ? "Speaker Directory" : "Eventible" %></td>
  </tr>
</table>
<p>Thanks,<br>
EvBot</p>