<h4>Hi,</h4>
<p> <%= @user.name %> from <%=@user.company %> wants to learn more about the Organizer Portal.</p>
<p>The details submitted by the event organizer are as follows:
name: <%= @user.name%><br>
email: <%= @user.email%><br>
comapny name: <%= @user.company%><br>
</p>
<p>Thanks,<br>
EvBot</p>