<style>
  #request {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #request td, #request th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #request tr:nth-child(even){background-color: #f2f2f2;}

  #request tr:hover {background-color: #ddd;}

  #request th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
</style>
<h4>Hi,</h4>

<p>An organizer replied to a review on MY.EVENTIBLE. Following are the details. </p>

<table id="request">
  <tr>
    <td><b>Organizer Name:</b></td>
    <td><%= @organizer.name %></td>
  </tr>
  <tr>
    <td><b>Organizer company:</b></td>
    <td><%= @organizer.company_name %> </td>
  </tr>
  <tr>
    <td><b>Event Name:</b></td>
    <td><%= @event.title %></td>
  </tr>
  <tr>
    <td><b>Reviewer Name:</b></td>
    <td><%= @reviewer.name %></td>
  </tr>
  <tr>
    <td><b>Organizer Reply:</b></td>
    <td><%= @comment %></td>
  </tr>
</table>

<br>
<p>
  Login into team.eventible to take action.
</p>
<p>
Best,<br>
Jennifer Rickman<br>
Director – Customer Success<br>
Eventible.com
</p>
